@model eTicaretEL.Entities.UserDetail

<p class="text-muted font-size-sm">@Html.DisplayFor(x=>x.Adress)</p>
<p class="text-muted font-size-sm">@Html.DisplayFor(x=>x.Tel)</p>
<a class="text" href="#">Adresi Güncelle</a>