@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdmin";
}
<div class="container mt-3">
    

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Mail</th>
        <th scope="col">Ürün Sayısı</th>
        <th scope="col">Düzenle</th>
        <th scope="col">Sil</th>
       
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td><a href="" class="btn btn-warning">Düzenle</a></td>
        <td><a href="" class="btn btn-danger">Sil</a></td>
      
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
         <td><a href="" class="btn btn-warning">Düzenle</a></td>
               <td><a href="" class="btn btn-danger">Sil</a></td>
     
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td><a href="" class="btn btn-warning">Düzenle</a></td>
              <td><a href="" class="btn btn-danger">Sil</a></td>
      
    </tr>
    </tbody>
</table>
</div>