@model List<eTicaretEL.Entities.User>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdmin";
}
<br/>
<h2>Kullanıcılar</h2>
<br/>
<div class="alert alert-success" role="alert">
    <span>Toplam<b> @ViewBag.v1 </b>Kullanıcı Bulundu</span>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Resim</th>
        <th scope="col">İsim</th>
        <th scope="col">Mail</th>
        <th scope="col">Ürünler</th>
        <th scope="col">Siparişler</th>
        <th scope="col">Düzenle</th>
        <th scope="col">
           Mesaj At
        </th>
        <th scope="col">Sil</th>

    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <th scope="row">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" width="40">
            </th>
            <th scope="row">@item.Name</th>
            <td>@item.Email</td>
            <td>
                <a href="/AdminProduct/UserProduct/@item.Id"> <i class="fa fa-shopping-bag orange_color fa-2x" aria-hidden="true"></i> </a>
            </td>
            <td>
                <a href="/AdminOrder/UserOrder/@item.Id">  <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a>
            </td>
            <td>
                <a href="/AdminUser/UserEdit/@item.Id"><i class="fa fa-check yellow_color fa-2x" aria-hidden="true"></i></a>
            </td>
            <td>
                 <a href="/AdminMessage/NewMessage/">  <i class="fa fa-envelope green_color fa-2x" aria-hidden="true"></i></a>
              
            </td>
            <td>
                <a href="/AdminUser/UserEdit/@item.Id">
                  <i class="fa fa-trash red_color fa-2x" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>