@model eTicaretEL.Dtos.OrderDetailDto

@{
    ViewBag.Title = "title";
    Layout = "_LayouteTicaret";
}

<div class="container d-flex ">

    <div class="section col-lg-9 col-md-9">
        <div class="container">
  @await Component.InvokeAsync("UserOrderDetail", new { orderId = Model.Id })
        </div>
    </div>
</div>