@model List<eTicaretEL.Dtos.CommentDto>


@foreach (var item in Model)
{
    <div class="col-md-9">

        <div class="col-md-4">
            <div id="rating">
                <div class="rating-avg">
                    <span>@item.Raiting</span>
                    <div class="rating-stars">
                        @for (int i = 1; i <= 5; i++)
                        {
                            @if (i <= item.Raiting)
                            {
                                <i class="fa fa-star"></i>
                            }
                            else
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-md-8">
            <div id="reviews">
                <ul class="reviews">
                    <li>
                        <div class="review-heading">
                            <h5 class="name">@item.UserName</h5>
                            <p class="date">@item.Date.ToShortDateString()</p>

                        </div>
                        <div class="review-body">
                            <p>@item.Description</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
}