@model List<eTicaretEL.Dtos.ProductDto>

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">En Yeni Ürünler</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li class="active">
                                <a data-toggle="tab" href="#tab2">Laptoplar</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2">Akıllı Telefonlar</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2">Kameralar</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2">Aksesuarlar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                @foreach (var item in Model)
                                {
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/electro-master/img/@item.Img" width="345" height="250" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                                <span class="new">NEW</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">@item.CategoryName</p>
                                            <h3 class="product-name">
                                                <a href="/LogOutUser/Product/@item.Id">@item.Name</a>
                                            </h3>
                                            <h4 class="product-price">$@item.Price <del class="product-old-price">$@item.Price</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <a href="/Login/Index/">
                                                    <i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span>
                                                </a>
                                                <button class="quick-view">
                                                    <a href="/LogOutUser/Product/@item.Id">
                                                        <i class="fa fa-eye"></i><span class="tooltipp">Ürün Detay</span>
                                                    </a>
                                                </button>
                                            </div>
                                        </div>
                                        <a href="/Login/Index/">
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Sepete Ekle</button>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>